footer {
    width: 100%;
    background-image: url("../images/footer-bg.jpg");
    color: white;
    height: 300px;
    .footer-container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .footer-links {
            padding: 1.5em;
            height: 100%;
            width: 45%;
            gap: 1em;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            .column {
                width: calc(100% / 3 - 1em);

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 0.5em;
                span {
                    font-weight: bold;
                    text-align: left;
                }
                ul {
                    li {
                        font-size: 0.8rem;
                        color: grey;
                        font-weight: 300;
                        transition: 300ms;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }

            .column:first-child {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 0.5em;
            }
        }

        .footer-logo {
            background-image: url("../images/dc-logo-bg.png");
            background-clip: border-box;
            width: 500px;
            height: 300px;
            background-clip: content-box;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @media screen and (max-width: 780px) {
        .footer-container {
            .footer-links {
                display: flex;
                flex-direction: column;
                position: relative;
                .column {
                    ul {
                        position: absolute;
                        display: none;
                        gap: 0.5em;
                        top: 10px;
                        left: 100px;
                        width: max-content !important;
                        border-radius: 10px;

                        li {
                            color: black;
                            height: calc(100% / 5) !important;
                            &:hover {
                                color: blue;
                            }
                        }

                        &.active {
                            background-color: rgba(
                                250,
                                250,
                                250,
                                0.639
                            ) !important;
                            padding: 0.5em;
                            display: flex;

                            height: 250px !important;
                            flex-direction: column;
                        }
                    }

                    #list2 {
                        top: 10px;
                        height: 60px !important;
                    }
                    #list4 {
                        height: 130px !important;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        .footer-container {
            .footer-links {
                display: flex;
                flex-direction: column;
                position: relative;
                .column {
                    ul {
                        position: absolute;
                        display: none;
                        gap: 0.5em;
                        top: 10px;
                        left: 100px;
                        width: max-content !important;
                        border-radius: 10px;

                        li {
                            color: black;
                            height: calc(100% / 5) !important;
                            &:hover {
                                color: blue;
                            }
                        }

                        &.active {
                            background-color: rgba(
                                250,
                                250,
                                250,
                                0.639
                            ) !important;
                            padding: 0.5em;
                            display: flex;

                            height: 250px !important;
                            flex-direction: column;
                        }
                    }

                    #list2 {
                        top: 10px;
                        height: 60px !important;
                    }
                    #list4 {
                        height: 130px !important;
                    }
                }
            }
        }
    }
}
