.my-container-fluid {
    width: 100%;
    div {
        width: 100%;
        height: 300px;
        overflow: hidden;

        img {
            display: block;
            object-fit: fill;
        }
    }
    @media screen and (max-width: 780px) {
        .div {
            height: 100%;
        }
        img {
            object-fit: cover !important;
        }
    }

    @media screen and (max-width: 530px) {
        .div {
            height: 100%;
        }
        img {
            object-fit: cover !important;
            height: 100% !important;
        }
    }
}
